<footer class="page-footer font-small d-inline-flex justify-content-between">
    <div></div>
    <div class="footer-copyright text-center py-2">© 2020 Copyright:
        <a target="blank" class="wlink" href="https://etml.ch/">ETML.ch</a>
    </div>
    <div class="d-flex text-center">
        <a target="blank" href="https://instagram.com"><i class="fab fa-instagram wlink"></i></a>
        <a target="blank" href="https://twitter.com"><i class="fab fa-twitter wlink"></i></a>
        <a target="blank" href="https://twitch.tv"><i class="fab fa-twitch wlink"></i></a>
    </div>
</footer>

</html>