<!doctype html>
<html lang="fr-ch">

<head>
  <!--
    Auteurs : Vitor Silva & Ricardo Delgado
    Date : 28.09.2020
    Description : Header présent sur chaque page du site
  -->
  <meta charset="utf-8">
  <title>El Letche</title>
  <link rel="stylesheet" href="../Src/css/bootstrap.min.css">
  <link rel="stylesheet" href="../Src/css/style.css">
  <script src="https://kit.fontawesome.com/a3d242c9b3.js" crossorigin="anonymous"></script>
</head>

<body class="m-0 bg-image" style="background-image: url(/images/bg_homePage.jpg);">