<!-- Barre de navigation -->
<nav class="navigation sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="wlink py-2 d-none d-md-inline-block" href="index.php?MasterController=home&action=lastRecipes">Page d'accueil</a>
        <a class="wlink py-2 d-none d-md-inline-block" href="index.php?MasterController=recipes&action=allRecipes">Recettes</a>
        <a class="wlink py-2 d-none d-md-inline-block" href="index.php?MasterController=home&action=contact">Contact</a>
        <a class="wlink py-2 d-none d-md-inline-block" href="index.php?MasterController=home&action=addRecipe">Ajouter une recette</a>
        <a class="wlink py-2 d-none d-md-inline-block" href="index.php?MasterController=home&action=contact">Register</a>
        <a class="wlink py-2 d-none d-md-inline-block" href="#">Crédits</a>
    </div>
</nav>