<!--
    Auteur: Vitor Silva & Ricardo Delgado
    Date: 11.12.2020
    Description : Menu présent dans chaque page du site
-->

<!-- Barre de navigation -->
<nav class="navigation sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="wlink py-2 d-none d-md-inline-block" href="index.php?controller=home&action=lastRecipes">Page d'accueil</a>
        <a class="wlink py-2 d-none d-md-inline-block" href="index.php?controller=recipes&action=allRecipes">Recettes</a>
        <a class="wlink py-2 d-none d-md-inline-block" href="index.php?controller=home&action=contact">Contact</a>
        <a class="wlink py-2 d-none d-md-inline-block" href="index.php?controller=home&action=addRecipe">Ajouter une recette</a>
        <a class="wlink py-2 d-none d-md-inline-block" href="index.php?controller=home&action=registerForm">Register</a>
        <a class="wlink py-2 d-none d-md-inline-block" href="index.php?controller=login&action=logout">Logout</a>
    </div>
</nav>